mixin header(size)
	//block header
	.header(class=attributes.page)
		//header-top
		.header-top-wrap
			.main-cont
				.header-top

					.header-location
						.header-info
							.header-info__icon
								+icon("location","icon")
							.header-info__val Санкт-Петербург
						.header-info__text Доставка за 45-90 минут
					.header-contact
						.header-info
							.header-info__icon
								+icon("phone","icon")
							.header-info__val
								a(href="tel:+7 (7172) 767 767")  +7 (7172) 767 767
						.header-info__text Сегодня 10 - 24
					.header-nav
						a(href="#").header-nav__el Акции
						a(href="#").header-nav__el Оплата
						a(href="#").header-nav__el О нас


		.header-menu-wrap
			.main-cont
				.header-menu
					.head-toggle
						+icon("menu","icon icon-open")
						+icon("close","icon icon-close")
					a(href="/").logo
						img(src="img/logo.svg", alt="" class="logo--dark")
						//use img(src="img/logo-white.svg", alt="" class="logo--light") full size banner
						img(src="img/logo-light.svg", alt="" class="logo--light")

					.nav
						.nav-toggle
							+icon("cap","icon icon-open")
							+icon("close-fat","icon icon-close")
							span Меню
						.nav-wrap.nav-wrap--sub
							.nav-container
								.nav-list
									- for (var i=0;i<2;i++)
										-
											var items = ['Готовая продукция КЦ','Кексы','Восточные и мучные сладости','Десерты','Кексы','Печенье','Киши и заливные'];
										each item,j in items
											.nav-cat #{item}
												.nav-wrap-item
													.nav-item-head
														+icon("arrow-left","icon")
														span #{item}
													.nav-item-cont
														- for (var k=0;k<2;k++)
															each item in items
																.nav-item
																	a(href="#") #{item} / #{j+1}
					.header-contact
						.header-info
							.header-info__icon
								+icon("phone","icon")
							.header-info__val
								a(href="tel:+7 (7172) 767 767")  +7 (7172) 767 767
						.header-info__text Сегодня 10 - 24
					a(href="#").header-auth.header-auth--true
						// toggle .header-auth--true
						+icon("user","icon")
						.header-auth-state--true
							span Войти
						.header-auth-state--false
							span Александр
							.header-auth__bonus
								span 356 Б
					.cart-wrap
						.cart-cost 2 850 ₽
						.cart
							a(href="order.html").cart-link
							+icon("arrow-right-fat","icon icon--close")
							+icon("cart","icon icon--open")
							.cart-val 33
						.basket-wrap
							.basket
								.basket-wrap-coner
								// !!! remove .hidden on state empty
								.basket-empty.hidden
									img(src="img/empty.svg", alt="").basket-empty-img

									.basket-empty__title Корзина пуста :(
									.basket-empty__text Бесплатная доставка от 500 ₽, доставляем за 60 минут
								.basket-list
									.basket-container.scroll
										- for (var i=0;i<8;i++)
											.basket__el
												.basket__el-info
													.basket__img(style="background-image:url('img/item-pizza-1.png')")
													.basket__cont
														.basket__name
															span Ветчина и грибы #{i + 1}
															.basket__delete
																+icon("garbage","icon")
														.basket__descr средняя 30 см, традиционное тесто
														.basket__el-change
															.basket__inc.incr--small
																+incr(1,"incr--small")
															.basket__price 120 р.

								//basket-footer
								.basket-footer
									.basket-total
										.basket-total-row
											.basket-total__text Доставка
											.basket-total__val 500 ₽
										.basket-total-row
											.basket-total__text Сумма заказа
											.basket-total__val 2 169 ₽
								.basket-add
									- for (var i=0;i<8;i++)
										.basket-add__el
											.basket-add-info
												.basket-add__img(style="background-image:url('img/cake.jpg')")
												.basket-add-cont
													.basket-add-title Торт Медуза
													.basket-add-cost 380 р
													.basket-add-get в корзину

									.basket-add__el
									.basket-add__el


		.slide-menu
			.slide-nav
				-
					var items = ['Готовая продукция КЦ', 'Кексы', 'Восточные сладости', 'Десерты', 'Кексы', 'Печенье', 'Киши и заливные'];

				each item in items
					.slide-nav__el
						.slide-nav__el-wrap
							span #{item}
							+icon("arrow-up","icon")
						.slide-nav-sub
							- for (var i=0;i<6;i++)
								.slide-nav-sub__el #{item} / #{i}
			.slide-row
				.slide-menu__list
					a(href="#").slide-menu__list-el Акции
					a(href="#").slide-menu__list-el Доставка
					a(href="#").slide-menu__list-el О нас
			.slide-row
				.slide-header-auth
					// toggle .slide-header-auth--true
					+icon("user","icon")
					.slide-header-auth-state--true
						span Войти
					.slide-header-auth-state--false
						span Александр
						.slide-header-auth__bonus
							span 356 Б
			.slide-row
				.slide-header-location
					.slide-header-info
						.slide-header-info__icon
							+icon("location","icon")
						.slide-header-info__val Санкт-Петербург
					.slide-header-info__text Доставка за 45-90 минут
			.slide-row
				.slide-header-contact
					.slide-header-info
						.slide-header-info__icon
							+icon("phone","icon")
						.slide-header-info__val
							a(href="tel:+7 (7172) 767 767")  +7 (7172) 767 767
					.slide-header-info__text Сегодня 10 - 24
	//block header end